@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
        /* main theme color */
        --first-color:#0e2431;
        --second-color:#6a59d1;
        --third-color:#777;


        /* hover color */
        --hover-color:#614fd0;
        --body-bg-color:white;
        --card-bg-color:white;
        --modal-bg-color:white;
        --bg-transparent-color:rgba(0,0,0,0.1); 
        --bg-transparent-color-01:rgba(0,0,0,0.1); 
        --bg-transparent-color:rgba(106,86,209,0.1); 

        --color-filter:invert(1);

        --box-shadow:0px 0px 20px rgb(0 0 0 / 10%);

        --small-font-size: 0.9em;
        --normal-font-size:1em;

        --scroll-bar-color:#c5cadf; 
        --scroll-thumb-color:#70768a; 
        --scroll-thumb-hover-color:#454f6b; 

}

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;;
        
}
html{
        scroll-behavior: smooth;
}
body{
        color:var(--first-color);
        background:var(--body-bg-color);
        margin:2rem 0 0 0;
        transition: .5s ease;
}
a{
        text-decoration: none;
}
li{
        list-style: none;
}

header{
        z-index: 99999;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        backdrop-filter: blur(20px);
        transition: .6s ease;

}
.navbar{
        position: relative;
        height: calc(4rem+1rem);
        max-width: 1250;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        transition: .6s ease;


}
.logo{
        color:var(--first-color);
        font-size: 1,3rem;
        font-weight: 600;
}
.navitems a:not(:last-child){
        margin-right: 40px;
}
.navitems a{
        color: var(--first-color);
        font-size: var(--normal-font-size);
        font-weight: 500;
}
.navitems a:hover{
        color:var(--second-color);
}
.home{
    position: relative;
    max-width: 1250px;
    max-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 4rem 2rem;
    flex-direction: column;

}
.home .home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-container .media-icons{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
.home-container .media-icons a{
    color: var(--second-color);
    font-size: 1.5rem;
    margin: 3px 4px;
}
.home-container .media-icons a:hover{
    color: var(--hover-color);
    
}
.home-container .info h3{
    color: var(--third-color);
    font-feature-settings: 1.3em;
     font-weight: 600;
     line-height: 50px;
}
.home-container .info h2{
    color: var(--second-color);
    font-size: 3em;
    font-weight: 700;
    line-height: 40px;
}
.home-container .info p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 450px;
    margin-bottom: 25px;
}
.btn{
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline block;
    margin-bottom:2px ;
    padding: 10px 15px;
    letter-spacing: 1px;
    border-radius: 10px;
}
.home .scroll-down{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    margin-top: 170px;
}
.home .scroll-down i{
    color: var(--second-color);
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
}
@keyframes arrow-down{
    0%{
            transform: translateY(0);
    }
    30%{
            transform: translateY(10px);
    }
    /* about */
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}
.sub-section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;   
}
.section-title-01{
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color)70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}
.section-title-02{
font-size:2.5em;
font-weight: 700;
transform: translateY(-80px);

}
.section-title-02::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--second-color);
}
.container{
    position: relative;
    flex-direction: column;

}

.logo1{
    
    margin-top: -3%;
    
}

